.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.featureTitle {
  font-weight: 700;
  color: var(--ifm-color-primary-dark);
}

.featureDescription {
  opacity: 0.8;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
