name: Publish Test Version

on:
  push:
    branches-ignore:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  publish-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - uses: pnpm/action-setup@v4

      - run: pnpm install --frozen-lockfile

      - run: pnpm build

      - name: Bump version
        run: pnpm run version

      - name: Publish to npm (Skybridge)
        run: pnpm publish:core
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Publish to npm (Packages)
        run: pnpm publish:packages
        env:
          NODE_AUTH_TOKEN: ${{ secrets.ORG_NPM_TOKEN }}

      - name: Publish to npm (create-skybridge)
        run: pnpm publish:create-skybridge
        env:
          NODE_AUTH_TOKEN: ${{ secrets.CREATE_SKYBRIDGE_NPM_TOKEN }}
