<base href="{{serverUrl}}" />
<div id="root"></div>
<script type="module">
  import('{{serverUrl}}/assets/{{widgetName}}.js');
</script>
<link rel="stylesheet" crossorigin href="{{serverUrl}}/assets/style.css" />